<table>
  <tr>
    <th>&nbsp;</th>
    <th>Version</th>
    <th>Date</th>
    <th>Content</th>
  </tr>
  <% @page.versions.reverse.each do |version| %>
  <tr>
    <td><%= link_to "View", admin_page_versions_show_url(version) %></td>
    <td><%= version.version %></td>
    <td><%= version.updated_at %></td>
    <td><%= version.content %></td>
  </tr>
  <% end %>
</table>

<h2>Current Version</h2>
Title: <%= @page.title  %><br />
Last Update: <%= @page.updated_at %><br />
Content: <%= @page.content.html_safe %>
