<h1>Listing RSVPs</h1>
<br>
<p>
<%= link_to "Download List", download_rsvps_url %>
</p>
<br>
<h2 style='float:left'>Attending: <%= @attending_count %></h2>
<h2 style='float:right'>Not Attending: <%= @not_attending_count %></h2>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>#</th>
    <th>Actions</th>

  </tr>

  <% @rsvps.each do |rsvp| %>
  <% row_class = rsvp.will_attend? ? '' : 'alert alert-danger' %>
  <tr class="<%= row_class %>">
    <td><%= rsvp.first_name %> <%= rsvp.last_name%></td>
    <td><%= rsvp.email_address %></td>
    <td><%= rsvp.number_to_rsvp %></td>
    <td><%= link_to "<i class='icon-edit icon-white'></i>&nbsp;Edit".html_safe, edit_rsvp_path(rsvp), :class => "btn btn-primary" %>
        <%= link_to "<i class='icon-trash icon-white'></i>&nbsp;Delete".html_safe,
                rsvp, 
                :confirm => 'Are you sure?', 
                :method => :delete, 
                :id => "destroy_#{rsvp.id}", 
                :class => 'btn btn-danger delete-page',
                "data-content" => 'This will irreversibly delete this RSVP.', 
                "data-original-title" => 'Are You Sure?' %></td>
  </tr>
  <% end %>
</table>
<br>
<%= will_paginate @rsvps, :class => 'apple_pagination' %>
<br>

