<p><%= f.label :first_name, "First Name" %><br />
   <%= f.text_field :first_name %></p>

<p><%= f.label :last_name, "Last Name" %><br />
   <%= f.text_field :last_name %></p>

<p><%= f.label :address1, "Address" %><br />
   <%= f.text_field :address1 %></p>

<p><%= f.label :address2,  "Address 2" %><br />
   <%= f.text_field :address2 %></p>

<p><%= f.label :city, "City" %><br />
   <%= f.text_field :city %></p>

<p><%= f.label :state, "State" %><br />
   <%= f.select(:state, US_STATES ) %></p>

<p><%= f.label :zip, "Zip" %><br />
   <%= f.text_field :zip %></p>

<p><%= f.label :phone, "Phone" %><br />
   <%= f.text_field :phone %></p>

<p><%= f.label :email_address, "Email" %><br />
   <%= f.text_field :email_address %></p>

<p><%= f.label :company, "Company" %><br />
   <%= f.text_field :company %></p>

<p><%= f.label :comments, "Comments" %><br />
   <%= f.text_area :comments, :cols => 26, :rows => 7 %></p>