<h1>Listing users</h1>
<hr>
<table class='table table-striped table-bordered'>
<thead>
  <tr>
    <th>Username</th>
    <th>Administrator</th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%=h user.email %></td>
    <td>
      <div class='btn-group user-control' data-toggle='buttons-radio' id='<%= dom_id(user) %>'>
        <button data-value='yes' data-user-id='<%= user.id %>' class='btn btn-success <%= user.is_admin? ? 'active' : '' %>'>Yes</a></button>
        <button data-value='no' data-user-id='<%= user.id %>' class='btn btn-danger <%= user.is_admin? ? '' : 'active' %>'>No</button>
      </div>
    </td>
  </tr>

<% end %>
</tbody>
</table>

