<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "bootstrap.css", "admin" %>
<script type="text/javascript">
    var CKEDITOR_BASEPATH = '/assets/ckeditor/';
</script>
<%= javascript_include_tag "application" %>
<% if Rails.env.production? -%>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28608739-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end -%>
</head>
<body style='padding-top:50px'>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "", root_url, :class => 'brand' %>
        <% if current_user %>
          <% if current_user.is_admin? %>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="">
                <%= link_to "Pages", admin_pages_url %>
              </li>
              <li class="">
                <%= link_to "Menu", admin_menu_items_url %>
              </li>
							<li class="">
                <%= link_to "Images", admin_images_url %>
              </li>
              <li class="">
                <%= link_to "Users", admin_users_url %>
              </li>
            </ul>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= raw(flash_message) %>
    <%= yield %>
  </div>
</body>
</html>
